[submodule "AA1"]
	path = AA1
	url = https://github.com/vinimrs/AA1.git
[submodule "AA2"]
	path = AA2
	url = https://github.com/vinimrs/AA2.git
[submodule "AA3"]
	path = AA3
	url = https://github.com/vinimrs/AA3.git
